<div class="videoContainer">
    <div class="Content">
        <div class="videoContent" *ngIf="videoReady">
            <div class="videoLoaderContent">
                <video #videoPlayer width="640" height="360" (click)="playPauseClicked()" (waiting)="onWaiting()" (playing)="onPlaying()">
                    <source src="{{videoUrl}}" type="video/mp4"/>
                </video>
                <input #videoSeeker type="range" min="0" [max]="videoDuration" step="0.01" (input)="seekVideo()" [(ngModel)]="currentVideoTime">
                <div *ngIf="isLoading">
                    <div class="loader"></div>
                </div>
            </div>
            <div class="buttons">
                <a [href]="videoUrl" download class="download">
                    <button><img src="assets/download.png" alt="download"/></button>
                </a>
                <div class="time">
                    <div class="elapsedTime">{{currentVideoTime | timeFormat}}</div>
                    <div class="totalDuration">{{videoDuration | timeFormat}}</div>
                </div>
                <button (click)="skipBackward(-10)"><img src="assets/backward.png" alt="skip backward"/></button>
                <button (click)="playPauseClicked()">
                    <img *ngIf="isPlaying" src="assets/pause.png" alt="pause"/>
                    <img *ngIf="!isPlaying" src="assets/play.png" alt="play"/>
                </button>
                <button (click)="skipForward(10)"><img src="assets/forward.png" alt="skip forward"/></button>
                <button (click)="toggleMute()" class="volume" [ngClass]="isMuted? 'muted' : ''">
                    <img src="assets/volume.png" alt="volume"/>
                </button>
                <input #videoVolume class="volumeInput" type="range" min="0" max="1" step="0.01" (input)="changeVolume()" [(ngModel)]="currentVolume">
            </div>
        </div>

        <div *ngIf="!videoReady">
            <h1>Video creation reached phase {{ getVideoPhase(videoId) }}</h1>
        </div>
    </div>
</div>